<div class="container">
    <div class="text-center">
        <h2>Payment Type</h2>
    </div>

    <div class="mb-3">
        <button mat-flat-button (click)="OpenModalRegister()" color="accent">Register new</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idPayment_Type}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.namePayment_Type}} </td>
        </ng-container>

        <ng-container matColumnDef="accion1" class="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="Modificate(element.idPayment_Type)">
                    <mat-icon>edit</mat-icon> </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion2" class="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn"
                    (click)="deletee(element.idPayment_Type)"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-paginator [pageSize]="5" 
    [pageSizeOptions]="[5, 10, 15]" 
    aria-label="Select page">
    </mat-paginator>
</div>