:host { /*centro*/
  display: grid;
  place-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.mat-expansion-panel form mat-form-field {
  width: 75%; 
}

.mat-error {
  margin-top: 4px; /* Espacio entre el campo y el mensaje de error */
  font-size: 12px; /* Tamaño de fuente del mensaje de error */
  color: red; /* Color del mensaje de error */
}

form {
  width: 60%;
}

/* Estilos para el contenedor de la imagen */
.uploaded-images {
  margin-top: 20px;
  align-items: center;
}

/* Estilos para la imagen bordes */
.uploaded-images img {
  width: 300px; /* Ancho predeterminado de la imagen */
  height: auto; /* Mantener la proporción de aspecto */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilos para el botón de carga */
.upload-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.upload-btn:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}
